.single__product{
    background: #141124;
    border-radius: 10px;
    cursor: pointer;
    animation: 1s ease-in;
}

.single__product:hover{
    box-shadow: 5px 5px 10px -5px #3c7fb2;
}

.product__content{
    padding: 20px;
    padding-bottom: 15px;
}

.product__content h6{
    color: #5c8aad;
    text-align: center;
}

.rating span i{
    color: #5c8aad;
}

.rating{
    margin-bottom: 10px;
}

.price{
    color: #fff;
}

.price span{
    color:#5c8aad;
    font-size: 1.3rem;
    font-weight: 500;
}

.shopping__icon{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #5c8aad;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


@keyframes animate {
    from {
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}

@media only screen and (max-width:767px) {
    .product__content h6{
        font-size: 0.9rem;
    }

    .price{
        font-size: 0.8rem;
    }

    .price span{
        font-size: 0.9rem;
    }
    }
